<table><tr><th>heading 1</th><th>heading 2</th></tr><tr><td>row 1</td><td>row 1</td></tr><tr><td>row 2</td><td>row 2</td></tr><tr><td>row 3</td><td>row 3</td></tr><tr><td>row 4</td><td>row 4</td></tr></table>
